<div class="chat-container">
  <div class="sidebar">
    <div class="sidebar-header">
      <h3>Asistente Virtual</h3>
    </div>
    <div class="sidebar-actions">
        <button pButton label="Nuevo Chat" icon="pi pi-plus" (click)="newChat()" class="redbutton"></button>
      <!--<p-button label="Buscar" icon="pi pi-search" styleClass="p-button-text"></p-button>
      <p-button label="Razona" icon="pi pi-comment" styleClass="p-button-text"></p-button>-->
    </div>
  </div>

  <div class="main-content">
    <div class="messages-container" #scrollContainer>
      <!-- Estado inicial -->
      <div class="empty-state" *ngIf="messages.length === 0">
        <div class="empty-content">
          <object
            data="assets/animations/ApuBot.svg"
            type="image/svg+xml"
            class="shrink-0 mx-auto"
            style="height: 25rem;">
          </object>
          <h2 style="font-size: 2.5rem">¿En qué puedo ayudarte?</h2>
          <p style="font-size: 1.5rem">Preguntame cualquier duda que tengas relacionada con el ámbito jurisdiccional.</p>
        </div>
      </div>

      <!-- Mensajes -->
      <div *ngFor="let message of messages"
           class="message-bubble"
           [class.user-message]="message.isUser"
           [class.assistant-message]="!message.isUser">
          <div class="message-content"
               [innerHTML]="message.content">
          </div>
      </div>
      <!-- loader -->
      <div class="typing-loader" *ngIf="isTyping">
        <object
          data="assets/animations/ApuBotTyping.svg"
          type="image/svg+xml"
          class="typing-animation">
        </object>
      </div>


    </div>

    <div class="input-container">
      <textarea pInputTextarea
                [(ngModel)]="newMessage"
                placeholder="Escribe tu mensaje aquí..."
                rows="2"
                class="message-input"
                (keydown.enter)="sendMessage($event)"></textarea>
      <p-button icon="pi pi-send"
                styleClass="p-button-rounded p-button-danger send-button"
                (onClick)="sendMessage()"></p-button>
    </div>
  </div>
</div>
